<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <ul class="breadcrumb">
            <li ng-repeat="b in breadcrumbs">{{b}}</li>
      </ul>
    </div>
</div>
<!-- /.row -->

<!-- Projects Row -->
<div class="row">
    <div class="col-sm-6 col-md-3 portfolio-item" ng-repeat="video in videos | limitTo: itemLimits()">
        <a class="videos" href="#/browse/{{video.videoId}}" ng-click="setSelectedVideo(video)">
            <img class="img-responsive" ng-src="{{video.img}}">
        </a>
        <div class="title">
            <p>{{video.title | limitTo:30}}</p>
        </div>
    </div>
</div>
<!-- /.row -->

<!-- Pagination -->
<div ng-show="hasMoreItems()" class="row text-center">
   <a ng-click="loadMoreItems()" class="btn btn-primary">Load more</a>
</div>
<!-- /.row -->